
.intro-title {
    font-size: 3rem;
    color:rgb(236,28,76)

}

.bg-blue {
    color:rgb(46,193,185);
}

.intro-section {
    padding-top: 5rem;
}
  
.center-page {
  margin: auto;
  width: 75%;
}

.card {
    /* Adds shadows to create the "card" effect */
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
}

/* Mouse-over shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    
.btn-color {
    background-color: rgb(46,193,185);
}

.btn {
    color: black;
}

.btn:hover {
    color: white;
}